---
const currentYear = new Date().getFullYear();
---

<a
  href={`https://wa.me/+51984638855`}
  target="_blank"
  rel="noopener noreferrer"
  class="fixed bottom-5 right-5 bg-green-500 text-white font-bold py-4 px-6 rounded-xl shadow-lg hover:bg-green-600 transition-all duration-300"
>
  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="h-7 w-7 inline-block mr-1">
    <path d="M12 2C6.48 2 2 6.48 2 12c0 2.26.84 4.33 2.24 5.94L2 22l4.06-2.24C7.67 21.16 9.74 22 12 22c5.52 0 10-4.48 10-10S17.52 2 12 2zm0 18c-1.99 0-3.84-.73-5.3-1.94l-.36-.27-2.42 1.34.65-2.73-.28-.35C3.73 15.84 3 13.99 3 12c0-4.97 4.03-9 9-9s9 4.03 9 9-4.03 9-9 9zm4.43-6.47c-.23-.12-1.37-.68-1.58-.76-.21-.08-.36-.12-.51.12-.15.23-.59.76-.72.91-.13.15-.26.17-.49.06-.23-.12-.97-.36-1.85-1.15-.68-.6-1.14-1.34-1.28-1.57-.13-.23-.01-.35.1-.47.1-.1.23-.26.34-.39.11-.13.15-.23.23-.38.08-.15.04-.29-.02-.41-.06-.12-.51-1.23-.7-1.69-.18-.43-.36-.37-.51-.38-.13-.01-.29-.01-.45-.01-.15 0-.39.06-.6.29-.21.23-.79.77-.79 1.88s.81 2.19.92 2.34c.11.15 1.6 2.44 3.88 3.42.54.23.96.37 1.29.48.54.17 1.03.15 1.42.09.43-.06 1.37-.56 1.57-1.1.2-.54.2-1.01.14-1.1-.06-.09-.2-.15-.43-.27z"></path>
  </svg>
  WhatsApp
</a>

<footer class="w-full border-gray-200 dark:border-gray-700 bg-gray-900 py-8 px-4 flex flex-col items-center justify-center text-sm text-gray-400">
  <div class="flex flex-col items-center space-y-4">
    <div class="text-base">© {currentYear} Pura Vida Expediciones</div>
    
    <div class="flex items-center space-x-6">
      <a href="https://www.instagram.com/puravidaexpediciones/" target="_blank" rel="noopener noreferrer" class="hover:text-pink-500 transition-colors duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="h-7 w-7">
          <path d="M7.75 2h8.5A5.75 5.75 0 0 1 22 7.75v8.5A5.75 5.75 0 0 1 16.25 22h-8.5A5.75 5.75 0 0 1 2 16.25v-8.5A5.75 5.75 0 0 1 7.75 2zm0 1.5A4.25 4.25 0 0 0 3.5 7.75v8.5A4.25 4.25 0 0 0 7.75 20.5h8.5a4.25 4.25 0 0 0 4.25-4.25v-8.5A4.25 4.25 0 0 0 16.25 3.5h-8.5zM12 7a5 5 0 1 1 0 10 5 5 0 0 1 0-10zm0 1.5a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7zm5.25-.88a.88.88 0 1 1 0 1.75.88.88 0 0 1 0-1.75z"></path>
        </svg>
      </a>

      <a href="https://www.facebook.com/puravidaexpediciones/" target="_blank" rel="noopener noreferrer" class="hover:text-blue-600 transition-colors duration-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" class="h-7 w-7">
          <path d="M12 2.04c-5.52 0-9.96 4.44-9.96 9.96 0 4.99 3.66 9.12 8.44 9.88v-6.98h-2.54v-2.9h2.54v-2.22c0-2.51 1.49-3.88 3.73-3.88 1.08 0 2.21.19 2.21.19v2.43h-1.25c-1.23 0-1.61.76-1.61 1.55v1.87h2.73l-.44 2.9h-2.29v6.98c4.78-.76 8.44-4.89 8.44-9.88C21.96 6.48 17.52 2.04 12 2z"></path>
        </svg>
      </a>
    </div>
    
    <a href="https://fieldsmarshall.com" target="_blank" rel="noopener noreferrer" class="text-xs hover:underline opacity-70 mt-2">
      Diseño - Fields Marshall
    </a>
  </div>
</footer>